@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Oswald", sans-serif;
  color: #1d1f24;
  background-color: #f9fafc;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header */

header {
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.header-left-side {
  display: flex;
  align-items: center;
  letter-spacing: 1.75px;

  & > img {
    margin-right: 58px;
    margin-left: 38px;
  }
}

.header-right-side {
  margin-right: 45px;
}

nav {
  display: flex;
  gap: 59px;
  opacity: 0.2;
}

/* main_FINACNE */

main > .finance_lg {
  width: 100%;
  height: 581px;

  background-image: url(./assets/main_finance_lg_bg.png);

  display: flex;
  justify-content: space-between;

  color: #ffffff;
  & > img {
    margin-top: 266px;

    width: 50px;
    height: 50px;
  }
}

.text_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finance_lg > .text_contents > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 107px;
  height: 40px;

  font-size: 14px;
  letter-spacing: 1.75px;

  background-color: #ff565c;

  margin-bottom: 30px;
  margin-top: 137px;
}

.finance_lg > .text_contents > h1 {
  width: 593px;

  text-align: center;
  font-size: 32px;
  line-height: 49px;
  letter-spacing: -0.471px;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.finance_lg > .text_contents > h3 {
  width: 483px;

  font-family: Lato;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  opacity: 0.7;

  margin-bottom: 133px;
}

.article_info {
  color: #fff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;

  display: flex;
  gap: 16px;

  & .share {
    width: 18px;
    height: 15px;

    margin-right: 11px;
  }

  & .views {
    width: 22px;
    height: 15px;

    margin-right: 9px;
  }

  & .comments {
    width: 20px;
    height: 20px;

    margin-right: 10px;
  }
}

.featured_stories {
  background-color: #ffffff;

  border: 1px solid #f2f3f6;

  width: 316px;

  & > h1 {
    font-size: 14px;
    letter-spacing: 1.531px;
    text-transform: uppercase;

    margin-top: 35px;
    margin-left: 27.5px;
  }
}

.featured_stories_title {
  height: 83px;

  margin-top: 30px;

  display: flex;

  color: #1d1f24;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;

  width: 227px;

  border-bottom: 1px solid #f2f3f6;

  & > span {
    opacity: 0.1662;

    font-size: 18px;

    margin-right: 26px;
  }
}
