@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Oswald", sans-serif;
  color: #1d1f24;
  background-color: #f9fafc;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header */

header {
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;

  overflow: hidden;
}

.header-left-side {
  display: flex;
  align-items: center;
  letter-spacing: 1.75px;

  & > img {
    margin-right: 58px;
    margin-left: 38px;
  }
}

.header-right-side {
  margin-right: 45px;
}

header nav {
  display: flex;
  gap: 59px;
  opacity: 0.2;

  @media (max-width: 768px) {
    display: none;
  }
}

article {
  color: #ffffff;
}

/* grid */

main {
  width: 100%;

  display: grid;
  gap: 32px;
  justify-content: center;
  grid-template-columns: repeat(4, 316px);
  grid-template-rows: repeat(4, 274px);

  margin-top: 40px;
  margin-bottom: 120px;

  overflow: hidden;
}

/* main_FINACNE */

#finance_lg {
  grid-column: 1/4;
  grid-row: 1/3;

  width: 100%;
  height: 581px;

  background-image: url(./assets/main_finance_lg_bg.png);

  display: flex;
  justify-content: space-between;

  & > img {
    margin-top: 266px;

    width: 50px;
    height: 50px;
  }
}

.text_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finance_lg > .text_contents > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 107px;
  height: 40px;

  font-size: 14px;
  letter-spacing: 1.75px;

  background-color: #ff565c;

  margin-bottom: 30px;
  margin-top: 137px;
}

#finance_lg > .text_contents > h1 {
  width: 593px;

  text-align: center;
  font-size: 32px;
  line-height: 49px;
  letter-spacing: -0.471px;
  text-transform: uppercase;

  margin-bottom: 5px;
}

#finance_lg > .text_contents > h3 {
  width: 483px;

  font-family: Lato;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  opacity: 0.7;

  margin-bottom: 133px;
}

.article_info {
  color: #fff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;

  display: flex;
  align-items: center;
  gap: 16px;

  & > span {
    display: flex;
    align-items: center;
  }

  & .share {
    width: 18px;
    height: 15px;

    margin-right: 11px;
  }

  & .views {
    width: 22px;
    height: 15px;

    margin-right: 9px;
  }

  & .comments {
    width: 20px;
    height: 20px;

    margin-right: 10px;
  }
}

/* featured stories */

.featured_stories {
  display: flex;
  flex-direction: column;
  gap: 25px;

  grid-row: 3 / 5;

  background-color: #ffffff;

  border: 1px solid #f2f3f6;

  width: 316px;

  & > h1 {
    font-size: 14px;
    letter-spacing: 1.531px;
    text-transform: uppercase;

    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 27.5px;
  }
}

.featured_stories_title {
  height: 83px;

  padding-left: 27px;

  display: flex;

  color: #1d1f24;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;

  width: 227px;

  border-bottom: 1px solid #f2f3f6;

  & > span {
    opacity: 0.1662;

    font-size: 18px;

    margin-right: 26px;
  }
}

.featured_stories_title:nth-child(4) {
  & > h2 {
    width: 179px;
  }
}

/* entertainment */

#entertainment {
  background-image: url(./assets/main_entertainment_bg.png);

  display: flex;
  flex-direction: column;

  grid-column: 2/4;
}

#entertainment > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 157px;
  height: 40px;

  background-color: #ff565c;
  letter-spacing: 1.75px;

  font-size: 14px;

  margin-bottom: 19px;
  margin-top: 30px;
}

#entertainment > .contents {
  margin-left: 25px;
}

#entertainment > .contents > h1 {
  width: 484px;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;

  margin-bottom: 44px;
}

/* finance */

#finance_sm {
  background-image: url(./assets/main_finance_sm_bg.png);

  display: flex;
  flex-direction: column;
}

#finance_sm > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 107px;
  height: 40px;

  background-color: #ff565c;
  letter-spacing: 1.75px;

  font-size: 14px;

  margin-bottom: 19px;
  margin-top: 30px;
}

#finance_sm > .contents {
  margin-left: 25px;
}

#finance_sm > .contents > h1 {
  width: 245px;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;

  margin-bottom: 44px;
}

/* gaming */

#gaming {
  background-image: url(./assets/main_gaming_bg.png);

  display: flex;
  flex-direction: column;
}

#gaming > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 104px;
  height: 40px;

  background-color: #ff565c;
  letter-spacing: 1.75px;

  font-size: 14px;

  margin-bottom: 19px;
  margin-top: 30px;
}

#gaming > .contents {
  margin-left: 25px;
}

#gaming > .contents > h1 {
  width: 245px;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;

  margin-bottom: 44px;
}

/* finance_aside */

#finance_aside {
  background-image: url(./assets/aside_finance_bg.png);

  display: flex;
  flex-direction: column;
}

#finance_aside > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 104px;
  height: 40px;

  background-color: #ff565c;
  letter-spacing: 1.75px;

  font-size: 14px;

  margin-bottom: 19px;
  margin-top: 30px;
}

#finance_aside > .contents {
  margin-left: 25px;
}

#finance_aside > .contents > h1 {
  width: 245px;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;

  margin-bottom: 44px;
}

/* technology */

#technology {
  background-image: url(./assets/aside_technology_bg.png);

  display: flex;
  flex-direction: column;
}

#technology > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 137px;
  height: 40px;

  background-color: #ff565c;
  letter-spacing: 1.75px;

  font-size: 14px;

  margin-bottom: 19px;
  margin-top: 30px;
}

#technology > .contents {
  margin-left: 25px;
}

#technology > .contents > h1 {
  width: 245px;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;

  margin-bottom: 74px;
}

/* read more */

#read_more {
  grid-row: 2/4;

  background-color: #ff565c;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 25px;
}

#read_more > h1 {
  font-size: 32px;
  line-height: 49px;
  letter-spacing: -0.471px;
  text-transform: uppercase;

  margin-bottom: 20px;
  margin-top: 30px;

  width: 263px;
}

#read_more > p {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  margin-bottom: 30px;

  width: 252px;
}

#read_more > button {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  align-items: center;

  background-color: #ff565c;

  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;

  margin-bottom: 46px;
}

/* footer */

footer {
  background-color: #1d1f24;

  height: 160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-side {
  display: flex;
  align-items: center;
  gap: 48px;
}

footer .company_info {
  display: flex;
  flex-direction: column;
  gap: 6px;

  margin-left: 38px;

  width: 185px;

  & > h5 {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    opacity: 0.7;
  }

  & > img {
    width: 60px;
  }
}

footer nav {
  color: #ffffff;
  font-size: 14px;

  width: 657px;
  display: grid;
  grid-template-columns: repeat(4, 164px);
  grid-row-gap: 12px;
}

footer .contact {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-right: 45px;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  & > .sns > span {
    width: 62px;
  }

  & > .sns {
    display: flex;
    gap: 18px;

    margin-bottom: 15px;
  }
}

.email {
  height: 35px;

  display: flex;
  align-items: center;
}

.email > input {
  width: 180px;
  height: 35px;

  border: none;
  background-color: #ffffff;

  padding: 0;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
}

.email > button {
  width: 120px;
  height: 35px;
  background-color: #ff565c;
  border: none;

  color: #ffffff;
  font-family: Oswald;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.5px;
}
